<!DOCTYPE html>
<html lang="en">

    <head>
      <title>{% block title %}Libreria{% endblock %}</title>

    </head>

    <body>
        {% include "common/navigation_bar.html" %}
            {% block content %}
                <div class="container-fluid text-center">
                    <div class="row">
                        <div class="col-sm-4" style="background-color: none;"></div>
                        <div class="well col-sm-4">
                        <h1 class="text-center">Proveedores</h1>
                        <form action="/proveedores/guardandoProveedores" method="post" enctype="multipart/form-data">

                        <div  class="form-group">
                            <label for="estateName">Nombre</label>
                            <input type="text" class="form-control" id="estateName"  placeholder="Nombre del proveedor a registrar" maxlength="80" required name="nombre">
                        </div>
                            <div  class="form-group">
                            <label for="estateName">Direccion</label>
                            <input type="text" class="form-control" id="direccion"  placeholder="direccion del proveedor a registrar" maxlength="80" required name="direccion">
                        </div>
                            <div  class="form-group">
                            <label for="estateName">Telefono</label>
                            <input type="tel" class="form-control" id="telefono" pattern="[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]" placeholder="telefono del proveedor a registrar" maxlength="80" required name="telefono">
                        </div>
                            <div  class="form-group">
                            <label for="estateName">Correo</label>
                            <input type="email" class="form-control" id="correo"  placeholder="correo del proveedor a registrar" maxlength="80" required name="correo">
                        </div>

                                 <div class="form-group">
                                <label>PAIS</label>
                                <select name="pais"   class="form-control" id="pais" name="pais" required>
                                    <option>Mexico</option>
                                    <option>Zamora</option>
                                    <option>Sahuayo</option>
                                </select>
                            </div>
 <script >

        function ConfirmDemo() {

            var mensaje = confirm("¿segur@ de hacer un nuevo registro?");

            if (mensaje==true) {
            return true;
            }

            else {
            return false;
            }
        }

    </script>
                        <nav id="bloqueBotones">
                            <button type="submit" class="btn btn-success" onclick="return ConfirmDemo()">Registrar</button>
                            <a href="/proveedores/consultarProveedores" class="btn btn-warning">Regresar</a>
                        </nav>

                        </form>
                        <br>
                            {% if get_flashed_messages() %}
                                <div id="mensajeAlert" class="alert alert-success alert-dismissible">
                            {% for message in get_flashed_messages() %}
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <strong>{{message}}</strong>
                            {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endblock %}
        <p class="text text-center">Este es el pie de pagina</p>
    </body>
</html>