{% extends 'comunes/base.html' %}
{% block contenido %}
<link rel="stylesheet" href="{{url_for('static',filename='css/estiloConsulta.css')}}">
<div>
    <h1 class="bg-primary text-center">Listado de Categorias</h1>

    <table class="table table-bordered">
        <th>NOMBRE</th>

         <th>DIRRECCIONES</th>

        <th>TELEFONO</th>

        <th>EMIL</th>

        <th>TIPO</th>

        <th>ESTATUS</th>

        <th>VER PERFIL</th>

        {% for usuario in usuarios %}
            <tr>
                <td>{{usuario.nombreCompleto}}</td>
                <td>{{usuario.direccion}}</td>
                <td>{{usuario.telefono}}</td>
                <td>{{usuario.email}}</td>
                <td>{{usuario.tipo}}</td>
                <td>{{usuario.estatus}}</td>
                <td><a href="/Usuarios/{{usuario.idUsuario}}">
                            <span class="glyphicon glyphicon-eye-open"></span>
                        </a>
                </td>

            </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}