<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/static/css/login_style.css">
      <title>{% block title %}Libreria{% endblock %}</title>
    </head>
    <body>
        {% include "common/navigation_bar.html" %}

        {% block content %}

        {% endblock %}
        <a class="text text-center" id="current_date"></a>

        <div class="container">
        <div class="row justify-content-center pt-5 mt-5 mr-1">
            <div class="col-md-6 col-sm-6 col-xl-6 col-lg-4 formulary">
                <form action="/login/iniciandoSesion" method="post">
                    <p class="text text-center">Este es el pie de pagina</p>

                </form>
            </div>
        </div>
    </body>
</html>