{% extends 'comunes/base.html' %}
{% block contenido %}
<link rel="stylesheet" type="text/css" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
<link rel="stylesheet" href="{{url_for('static',filename='css/estiloVerPerfil.css')}}">
<form action="/Usuarios/editarPerfil" method="post">
    <section class="seccion-perfil-usuario">
            <div class="perfil-usuario-body">
                <div class="perfil-usuario-bio">
                    <h3 class="titulo">{{current_user.nombreCompleto}}</h3>
                    <p class="texto">Lo que buscas, aquí lo encuentras, ¡No batalles! Se parte del cambio.</p>
                </div>
                <div class="perfil-usuario-footer">
                    <input class="controls" type="hidden" name="id" value="{{current_user.idUsuario}}" required>
                    <input class="controls" type="hidden" name="nombre" value="{{current_user.nombreCompleto}}" required>
                    <input class="controls" type="hidden" name="email" value="{{current_user.email}}" required>
                    {% if not current_user.is_admin() %}
                    <input class="controls" type="hidden" name="Tipo" value="{{current_user.estatus}}" required>
                    <input class="controls" type="hidden" name="email" value="{{current_user.tipo}}" required>
                    {% endif %}
                    <ul class="lista-datos">
                        <li><i class="icono fas fa-map-signs"></i> Direccion de usuario:</li>
                        <input class="controls" type="text" name="direccion" placeholder="{{current_user.direccion}}" required>
                        <li><i class="icono fas fa-phone-alt"></i> Telefono:</li>
                        <input class="controls" type="text" name="telefono" placeholder="{{current_user.telefono}}" required>
                        {% if not current_user.is_admin() %}
                        <li><i class="icono fas fa-building"></i> Cargo: {{current_user.tipo}}</li>
                        {% endif %}
                        {% if current_user.is_authenticated and current_user.is_admin() %}
                            <div class="radio">
                                <h4>Tipo</h4>
                                <label><input class="cont" type="radio" name="Tipo" value="Vendedor">Vendedor</label>
                                <label><input class="cont" type="radio" name="Tipo" value="Comprador">Cliente</label>
                                <label><input class="cont" type="radio" name="Tipo" value="Administrador" checked>Administrador</label>
                            </div>
                        {% endif %}
                        <li><input class="botons btn btn-primary btn-block" type="submit" value="Editar Perfil"></li>
                    </ul>
                    <ul class="lista-datos">
                        <li><i class="icono fas fa-map-marker-alt"></i> Contraseña:</li>
                        <input class="controls" type="password" name="password" placeholder="Ingrese Nueva Contraseña" required>
                        <li><i class="icono fas fa-user-check"></i> Registro: {{current_user.estatus}}
                        {% if current_user.is_authenticated and current_user.is_admin() %}
                        {% if current_user.estatus=='Activo' %}
                        <input type="checkbox" name="estatus" value="Activo" checked>
                        {% else %}
                        <input type="checkbox" name="estatus" value="Activo">
                        {% endif %}
                        {% endif %}
                        </li>

                        <li><i class="icono fas fa-share-alt"></i> Correo: {{current_user.email}}</li>
                    </ul>
                </div>
            </div>
        </section>
</form>
{% endblock %}