{% extends 'comunes/base.html' %}
{% block contenido %}

<div>
    <h1 class="bg-primary bg-lg text-center">Pedir de Productos</h1>
    <form action="/carrito/agregar" method="post" enctype="multipart/form-data" class="formulario-tarjeta" style=background-color:#FBEEE6>
        <div class="form-group">
            <label>ID:</label>
            <input type="number" value="{{prod.idProducto}}" name="id" readonly class="form-control">
        </div>
        <div>
            {% for cat in categorias %}
            {% if cat.idCategoria==prod.idCategoria %}
            <div class="form-group">
            <label>Categoria: {{cat.nombre}}</label>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <div class="form-group">
            <label>Nombre: {{prod.nombre}}</label>
        </div>
        <div class="form-group">
            <label>Descripcion: {{prod.descripcion}}</label>
        </div>
        <div class="form-group">
            <label>Precio: {{prod.precioVenta}}</label>
        </div>
        <div class="form-group">
            <label>Existencias: {{prod.existencia}}</label>
        </div>
        <div class="form-group">
            <label>Imagen:</label>
            <a href="#" data-toggle="modal" data-target="#imagen">
                <span class="glyphicon glyphicon-eye-open"></span>Ver Imagen
            </a>
        </div>
        <div class="form-group">
            <label>Espesificaciones:</label>
            <a href="#" data-toggle="modal" data-target="#pdf">
                <span class="glyphicon glyphicon-eye-open"></span>Ver PDF
            </a>
        </div>
        <div class="form-group">
            <label>Estatus: {{prod.estatus}}</label>
        </div>
            <div>
                <label>Cantidad</label>
                <input type="number"  placeholder="nm"  name="cantidad" />
            </div>
        <div>
            <label>Fecha</label>
            <input type="date"  placeholder="nm"  name="fecha" />
        </div>
            <input type="submit" class="btn btn-primary" value="Añadir Carrito" />
            <a href="/productos" class="btn btn-info">
                <span class="glyphicon glyphicon-arrow-left"></span>
                Regresar
            </a>
    </form>
    <!-- Modal para ver la imagen-->
<div id="imagen" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Imagen del Producto: <b>{{prod.nombre}}</b></h4>
      </div>
      <div class="modal-body">
        <img src="/productos/consultarImagen/{{prod.idProducto}}" width="200px" height="150px">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>

  </div>
</div>

    <div id="pdf" class="modal fade" role="dialog">
  <div class="modal-dialog">

    #Modal content-
    <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">PDF del producto: <b>{{prod.nombre}}</b></h4>
          </div>
          <div class="modal-body">
              <object class="pdfview" type="application/pdf" data="/productos/consultarPDF/{{prod.idProducto}}"></object>

          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          </div>
      </div>
  </div>
    </div>
</div>
{% endblock %}