{% extends 'comunes/base.html' %}
{% block contenido %}
<link rel="stylesheet" href="{{url_for('static',filename='css/estiloDescripcion.css')}}">
 <div class="parrafo">
<H1>
        Camisa Ingenieria (ISC,GE,IA,IAS,IE,TICS,C.P,I.I)
    </H1>
    <img src="{{url_for('static',filename='img/CAMISACARRERA.jpg')}}" width="300" height="300"> <!--Aqui va la imagen de una camisa android-->
    <h2>CAMISA UNSEX CON INICIALES DE LA CARRERA EN CUESTION (C,M,L)
    </h2>
    <br><br>
    <form action="/CAMISACARRERA" method="post">

        <button type="submit" class="btn-enviar"><a href="/pedidos">Hacer Pedido</a></button>
    </form>
 </div>

{% endblock %}