{% extends 'comunes/base.html' %}
{% block contenido %}
<link rel="stylesheet" href="{{url_for('static',filename='css/estiloPrincipal.css')}}">
<main class="main">
    <div class="parrafo">
    <section class="welcome">
        <h2 class="wlcome-title">Descripción de la empresa</h2><br>
        <p class="welcome-txt">Es una tienda en lo que encuentras todo lo que estas buscando, ofrecemos nuevos estilos novedosos,de colores llamativos y de hermosos acabados.
Vestidos.
Jeans.
Blusas.
Minifaldas.
top.
Shorts.
Pantalones de vestir.
Y mucho más.
Búscanos y te darás cuenta que la BOUTIQUE "Shopitesz" ofrece un diferente estilo, estamos buscando una nueva versión de la moda en las señoritas.</p>
<br><br><h2 class="wlcome-title">MISIÓN</h2><br>
        <p class="welcome-txt">Ofrecer a nuestros clientes  productos de calidad, a precios cómodos  que cumplan con sus necesidades y exigencias, abarcando sus gustos de acuerdo a su estilo de ver y vivir la vida.</p>
        <br><br><h2 class="wlcome-title">VISIÓN</h2><br>
        <p class="welcome-txt">Ser una empresa  líder y reconocida en la venta de ropa MeAnJe, lograr también extendernos y crear  nuestras cadenas de almacenes,   proporcionando cada día más un servicio de excelencia a nuestros clientes y que al mismo tiempo nos permitan competir en el mercado nacional con los mejores precios del mercado.</p>
        <br><br><h2 class="wlcome-title">OBJETIVOS</h2><br>
        <p class="welcome-txt">Ofrecer ropa de mejor calidad satisfaga las  necesidades y gustos del mercado potencial, vender ropa a la moda que cumpla con los requerimientos de estilo en el segmento  del mercado.</p>
    </section>
    </div>
</main>

{% endblock %}
