{% extends 'comunes/base.html' %}
{% block contenido %}

<div>
    <h1 class="bg-primary text-center">Categoria</h1>

    <a href="/Categorias/nueva" class="btn btn-success">
         <span class="glyphicon glyphicon-plus-sign"></span>
        Agregar Categoria
        Editar categoria
    </a>

    <table class="table table-bordered" style=background-color:#FBEEE6>
        <th>ID</th>
        <th>NOMBRE</th>

         <th>ESTATUS</th>

        <th>IMAGEN</th>

        <th>Ver</th>

        {% for cat in categorias %}
            <tr>
                <td>{{cat.idCategoria}}</td>
                <td>{{cat.nombre}}</td>

                    <td>{{cat.estatus}}</td>

                <td><img src="/Categorias/consultarImagen/{{cat.idCategoria}}" width="100px" height="80px"></td>

                    <td>
                        <a href="/Categorias/{{cat.idCategoria}}">
                            <span class="glyphicon glyphicon-eye-open"></span>
                        </a>
                    </td>

            </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}