{% extends 'bootstrap/base.html' %}
{% block title %}
    SHOPITESZ - Tienda en linea
{% endblock %}
{% block content %}
<link rel="stylesheet" href="{{url_for('static',filename='css/estilo.css')}}">
<script defer src="{{url_for('static',filename='js/index.js')}}"></script>
    <script src="{{url_for('static',filename='js/popper.min.js')}}"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    
    <link rel="stylesheet" href="css/sweetalert2.min.css">
<header class="header">
      <nav class="nav">
        <img class="op" src="{{url_for('static',filename='img/shop-window.svg')}}" alt="Bootstrap" width="32" height="32">
        <a class="logo nav-link">Shopitesz</a>
        <button class="nav-toggle" aria-label="Abrir menú">
          <i><img class="op" src="{{url_for('static',filename='img/list.svg')}}" alt="Bootstrap" width="32" height="32"></i>
        </button>
        <ul class="nav-menu">
          <li class="nav-menu-item">
            <a href="/" class="nav-menu-link nav-link">Home</a>
          </li>
            {% if current_user.is_authenticated and current_user.is_vendedor() %}
          <li class="nav-menu-item">
            <a href="/Categorias" class="nav-menu-link nav-link">Categorias</a>
          </li>
            {% endif %}
            {% if current_user.is_authenticated and current_user.is_admin() %}
          <li class="nav-menu-item">
            <a href="/Categorias" class="nav-menu-link nav-link">Categorias</a>
          </li>
            {% endif %}
          <li class="nav-menu-item">
            <a href="/productos" class="nav-menu-link nav-link">Productos</a>
          </li>
          <li class="nav-menu-item">
            <a href="/tarjeta" class="nav-menu-link nav-link">
              <img class="op" src="{{url_for('static',filename='img/credit-card.svg')}}" alt="Bootstrap" width="32" height="32">
              Tarjetas
            </a>
          </li>
          <li class="nav-menu-item">
              {% if current_user.is_authenticated and current_user.is_comprador() %}
              <a href="/Todocarritos" class="nav-menu-link nav-link">
                  {% endif %}
              <img src="{{url_for('static',filename='img/cart4.svg')}}" class="op" alt="Bootstrap" width="45" height="45"></img>

            </a>
          </li>
            {% if current_user.is_authenticated and current_user.is_vendedor() %}
                <li class="nav-menu-item">
                    <div class="login-box">
                        <img src="{{url_for('static',filename='img/Zorro.png')}}" class="avatars nav-link dropdown-toggle img-fluid nav-menu-link nav-link" alt="Avatar Image" height="70px" width="70px" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <div id="Usuario" class="dropdown-menu" aria-labelledby="navbarCollapse">
                                    <a href="/Usuarios/verPerfil" id="verPerfil" class="btn btn-primary btn-block">Ver Perfil</a>
                                    <a href="/Usuarios/Editar" id="EditarPerfil" class="btn btn-primary btn-block">Editar Perfil</a>
                                    <a href="/ConsultaTarjeta" id="Tarjetas" class="btn btn-primary btn-block">Ver Tarjetas</a>
                                    <a href="/Pedidos/verpedidos" id="Pedidos" class="btn btn-primary btn-block">Pedidos</a>
                                    <a href="/Usuarios/cerrarSesion" id="CerrarSecion" class="btn btn-danger btn-block">Cerrar Secion</a>
                                </div>
                    </div>
                </li>
            {% endif %}
            {% if current_user.is_authenticated and current_user.is_comprador() %}
                <li class="nav-menu-item">
                    <div class="login-box">
                        <img src="{{url_for('static',filename='img/Zorro.png')}}" class="avatars nav-link dropdown-toggle img-fluid nav-menu-link nav-link" alt="Avatar Image" height="70px" width="70px" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <div id="CUsuario" class="dropdown-menu" aria-labelledby="navbarCollapse">
                                    <a href="/Usuarios/verPerfil" id="CverPerfil" class="btn btn-primary btn-block">Ver Perfil</a>
                                    <a href="/Usuarios/Editar" id="CEditarPerfil" class="btn btn-primary btn-block">Editar Perfil</a>
                            <a href="/ConsultaTarjeta" id="CTarjetas" class="btn btn-primary btn-block">Ver Tarjetas</a>
                                    <a href="/Usuarios/cerrarSesion" id="CCerrarSecion" class="btn btn-danger btn-block">Cerrar Secion</a>
                                </div>
                    </div>
                </li>
            {% endif %}
            {% if current_user.is_authenticated and current_user.is_admin() %}
                <li class="nav-menu-item">
                    <div class="login-box">
                        <img src="{{url_for('static',filename='img/Zorro.png')}}" class="avatars nav-link dropdown-toggle img-fluid nav-menu-link nav-link" alt="Avatar Image" height="70px" width="70px" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <div id="AUsuario" class="dropdown-menu" aria-labelledby="navbarCollapse">
                            <a href="/Usuarios/verPerfil" id="AverPerfil" class="btn btn-primary btn-block">Ver Perfil</a>
                            <a href="/Usuarios/Editar" id="AEditarPerfil" class="btn btn-primary btn-block">Editar Perfil</a>
                            <a href="/ConsultaTarjeta" id="ATarjetas" class="btn btn-primary btn-block">Ver Tarjetas</a>
                            <a href="/Pedidos/verpedidos" id="APedidos" class="btn btn-primary btn-block">Pedidos</a>
                            <a href="/Usuarios/todos" id="AVerPerfiles" class="btn btn-primary btn-block">Todos los Perfiles</a>
                            <a href="/Usuarios/cerrarSesion" id="ACerrarSecion" class="btn btn-danger btn-block">Cerrar Secion</a>
                        </div>
                    </div>
                </li>
            {% endif %}
            {% if not current_user.is_authenticated %}
                <li class="nav-menu-item">
                    <a href="/validarSesion" class="nav-menu-link nav-link nav-menu-link_active">
                    <img class="op" src="{{url_for('static',filename='img/file-person.svg')}}" alt="Bootstrap" width="32" height="32">
                    Acceder
                    </a>
                </li>
            {% endif %}
        </ul>
      </nav>
    </header>
    <script src="{{url_for('static',filename='js/jquery-3.4.1.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/sweetalert2.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/carrito.js')}}"></script>
    <script src="{{url_for('static',filename='js/pedido.js')}}"></script>
     {% block contenido %}

    {% endblock %}
{% endblock %}
